/* Folhas de estilo de contacts. */

#cForm {
    display: table;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

#cForm label {
    display: block;
    padding: 0 0 .25rem .25rem;
}

#cForm input,
#cForm textarea,
#cForm button {
    font-family: inherit;
    font-size: inherit;
    border-radius: .3rem;
}

#cForm input,
#cForm textarea {
    border: 1px solid rgb(255, 81, 81);
    border-bottom: 3px solid rgb(255, 84, 84);
    padding: .4rem;
    width: 100%;
    background-color: rgb(248, 231, 231);
}

#cForm textarea {
    height: 6rem;
    resize: vertical;
}

#cForm button {
    padding: .5rem 1rem;
    border: none;
    background-color: linear-gradient(rgb(98, 168, 226), rgb(26, 91, 145));
    color: rgb(91, 155, 250);
    cursor: pointer;
}

#cForm button:hover {
    background-image: linear-gradient(rgb(218, 76, 25), rgb(145, 41, 3));
}
 #cForm small{
    color: gray;
 }

 #cForm input:valid,
 #cForm textarea:valid {
    border: 1px solid green;
    border-bottom: 3px solid green;
    background-color: rgb(232, 240, 254);
 }

 #cForm:invalid button{
    background-image: linear-gradient(rgb(172, 172, 172), rgb(76, 76, 76)); 
    pointer-events: none;
 }

 nav.contacts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
 }

 nav.contacts a {
    font-size: 4rem;
}

nav.contacts i[class~=fa-square-whatsapp] {
    color: #128c7e;
}

nav.contacts i[class~=fa-square-phone] {
    color: #666;
}

nav.contacts i[class~=fa-square-envelope] {
    color: orangered;
}

nav.contacts i[class~=fa-square-facebook] {
    color: #1877f2;
}

nav.contacts i[class~=fa-square-github] {
    color: #6e5494;
}

nav.contacts i[class~=fa-square-instagram] {
    color: #405de6;
}
            